.ex-1-square{
    transition: 2s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: 2s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: 1s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-4-square{
    transition: 2s;
}

.ex-4-square:hover{
    /* background-color: white; */
    opacity: 0%;
}

.ex-5-square{
    transition: 0.5s;
}

.ex-5-square:hover{
    /* -webkit-transform:scale(2); */
    transform: scale(2);
}

.ex-5-square:active{
    /* -webkit-transform:scale(.5); */
    transform: scale(.5);
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img:hover{
    filter: grayscale(.6) sepia(.5);
    transition-duration: 2s;
}

.ex-8-img:hover{
    filter: grayscale(.6) sepia(.5);
    transition-duration: 2s;
    border-radius: 20px;
}

.ex-9-img:hover{
    filter: grayscale(.6) sepia(.5);
    transition-duration: 2s;
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-10-icon{
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover {
    animation: rotate75 2s linear;
}

@keyframes rotate75{

    0%{
        transform: rotate(0);
    }

    90%{
        transform: rotate(274deg);
    }

    100%{
        transform: rotate(0);
    }
}

.ex-12-button:hover 
.ex-12-top-white{
    animation: RotateTop 2s linear;
}

@keyframes RotateTop{
    0%{
        left: 10%;
    }
    50%{
        left: calc(100% - 60px);
    }
    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: RotateBot 2s linear;
}

@keyframes RotateBot{
    0%{
        right: 10%;
    }
    50%{
        right: calc(100% - 60px);
    }
    100%{
        right: 10%;
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: RotateTopComplete 2s linear;
}

@keyframes RotateTopComplete{
    0%{
        left: 10%;
        top: -10px;
    }
    30%{
        left: calc(100% - 30px);
        top: -10px;
    }
    45%{
        left: calc(100% - 30px);
        top: 100%;
    }
    75%{
        left: 0;
        top: 100%;
    }
    90%{
        left: -15px;
        top: -10px;
    }
    100%{
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: RotateBotComplete 2s linear;
}

@keyframes RotateBotComplete{
    0%{
        bottom: -10px;
        right: 10%;
    }
    30%{
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45%{
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75%{
        right: 0;
        bottom: 100%;
    }
    90%{
        right: -15px;
        bottom: -10px;
    }
    100%{
        bottom: -10px;
        right: 10%;
    }
}